
{% extends 'back/layout.html.twig' %}

{% block title %}Backoffice{% endblock %}

{% block subbody %}
    <div class="card w-100 mb-3" id="card-container">
        <div class="card-body" id="card-body-container">
            <h1 class="card-title">Bienvenu dans le back office !</h1>

            <p class="instrucion-backoffice"> N'hésitez pas à naviguer parmi les différents liens ci-dessus pour voir, ajouter, modifier ou supprimer un élément. </p>
        </div>
    </div>
{% endblock %}