.navbar-custom {
    background-color: #f6efa6c2;
}

#title {
    color: #4ac1c5;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;

}

#navbarNav,
.nav-link {
    color: #F6AB6C;
}

.nav-link:hover {
    color:#f58235;
    font-weight: bolder;
}

.navbar-nav .nav-link.active {
    color: #f58235;
    font-weight: bolder;
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28246, 171, 108, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-custom .navbar-toggler {
    color: rgba(246, 171, 108,.55);
    border-color: rgba(246, 171, 108);
}