/* ********* */
/* Home Page */
/* ********* */


.navbar-custom,
.footer-custom {
    background-color: rgb(255, 242, 204);
}

#title {
    color: #4ac1c5;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    white-space: normal;
    
}

.titleContent,
.logo,
.buttonMenu {
    width: 6rem;
}

.logo {
    text-align: center;
}

.navvar-brand{
    white-space: normal;
}

#navbarNav,
.nav-link, 
.linkInP {
    color: #F6AB6C;
}

.nav-link:hover,
.linkInP:hover {
    color:#f58235;
    font-weight: bolder;
}

.navbar-nav .nav-link.active {
    color: #f58235;
    font-weight: bolder;
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28246, 171, 108, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-custom .navbar-toggler {
    color: rgba(246, 171, 108,.55);
    border-color: rgba(246, 171, 108);
}

.pageContainer {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content-wrap {
    min-height: 50%;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-custom{
    min-height: 50%;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signatureContainer {
    text-align: center;
    font-size: 0.6rem;
    font-style: italic;
    color: #4ac1c5;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%234ac1c5'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%234ac1c5'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

 #placeholderTitle,
 #placeholderContent {
    color: #DF5E88;
    font-weight: bold;
}

#placeholderContent {
    font-size: 0.8rem;
    font-weight: bolder;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    top: -1rem;
    left: 15%;
    padding-top: 1.25rem;
    text-align: center;
}

.carousel-caption-background{
    background-color: rgba(255, 255, 255, 0.678);
    height: 5rem;
}

.carousel-indicators [data-bs-target] {
    background-color: #4ac1c5;
}

.slider-custom{
    width: 100%;
    height: 32vh;
}

.carousel-item-custom {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    transition: opacity .3s;
}

.card-title {
   color:#f58235;
   font-size: 1.7rem;
   font-weight: bold;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-style: italic;
   margin-bottom: 1rem;
}

.card-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-text strong {
    font-weight: bold;
    color: #4ac1c5;
}

.card-text em {
    font-style: normal;
    color: #DF5E88;
    font-weight: bolder;
}

.linkInP {
    font-weight: bolder;
    font-size: 1.1rem;
    cursor: pointer;
}


/* ********************************************************************************* */

/* ************ */
/* Registration */
/* ************ */

#card-container {
    margin-top: 1rem;
}

#card-body-container{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}


.btn-custom {
    background-color: #DF5E88;
    color: #fff;
    margin-top: 1rem;
}

.btn-custom:hover {
    color: #000;
    background-color: #fff;
}

.form-control, 
.input-group {
    width: 90%;
}


.col-form-label {
    color: #4ac1c5;
    font-weight: bolder;
}

.col-sm-2 {
    width: 40%;
}


/* ********************************************************************************* */

/* ****** */
/* Log in */
/* ****** */

.login-form {
    display: flex;
    flex-direction: column;
    padding-left: 0.2rem;
}

#label-login-form {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4ac1c5;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

#password,
#username {
    width: 40%;
}

#btn-connection{
    width: 40%;
}


/* ********************************************************************************* */

/* ******* */
/* Profile */
/* ******* */

.user-profile {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4ac1c5;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}

.user-nickname,
.user-email,
.user-birthday {
    margin: 0.4rem 0 0.4rem 0;
}

.user-value {
    color: #000;
    font-weight: normal;
}

.instrucion-modify,
.instruction-delete {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    margin: 0.5rem 0 0.5rem 0;;
}

.instrucion-modify strong {
    font-style: normal;
    color: #DF5E88;
    font-weight: bolder;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-container a {
    width: 40%;
    margin-bottom: 1rem;
}

#btn-delete {
    width: 40%;
    background-color: #a6d6d8;
    color: #fff;
}

#btn-delete:hover {
    background-color: #fff;
    color: #000;
}


/* ********************************************************************************* */

/* ******* */
/* Travels */
/* ******* */

#travel-title {
    color: #4ac1c5;
    font-size: 1.5rem;
}

#travel-card {
    margin-bottom: 1rem;
}

.title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#btn-add {
    margin: 0;
    background-color: #e685a5;
    color: #fff;
}

.travel-article {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ********************************************************************************* */

/* ****** */
/* Travel */
/* ****** */

.travel_detail_container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4ac1c5;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.4rem;
}

.travel-begin,
.travel-end,
.travel-traveler-number,
.travel-description {
    margin: 0.4rem 0 0.4rem 0;
}

.travel-value {
    color: #000;
    font-weight: normal;
    font-style: italic;
}

#first-title {
    text-align: center;
}

#sub-title {
    font-size: 1.5rem;
    font-style: normal;
    color: #4ac1c5;
}

.sub-title-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 1rem;
}

.btn-container-edit-delete {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

#btn-delete-2 {
    background-color: #a6d6d8;
}

#btn-modify-2 {
    background-color: #fabf8e;
}

#btn-delete-2:hover,
#btn-modify-2:hover {
    background-color: #fff;
    color: #000;
} 

#overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subForm-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4ac1c5;
    font-weight: bolder;
    margin-bottom: 0.5rem; 
    font-size: inherit;
}

.add_tag_list {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #DF5E88;        
}

.travel-travelers {
    display: flex;
    flex-direction: column;
}

#map { 
    height: 15rem; 
}


/* ********************************************************************************* */

/* ******* */
/* Article */
/* ******* */

blockquote .card-text{
    font-size: 1rem;
}

.card-tip {
    margin-bottom: 1rem;
}

.card-tip .card-header {
    background-color: #4ec8cc69;
    font-size: medium;
}

.tip-sub-title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
}

.blockquote-footer {
    color: #DF5E88;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#like-button {
    margin-left: 1rem;
}

cite {
    margin-left: 0.2rem;
}

/* ********************************************************************************* */

/* *********** */
/* Back office */
/* *********** */

.subnav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.subnav-link {
    margin-right: 1rem;
    text-decoration: none;
    color:#e685a5;
}   

.subnav-link:hover {
    color:#DF5E88;
    font-weight: bold;
} 

a.subnav-link.active {
    color:#DF5E88;
    font-weight: bold;
}

.bodyContainer{
    margin-top: 1rem;
    width: 100%;
} 

.backoffice-sub-homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.backoffice-h1 {
    color:#f58235;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin-bottom: 1.2rem;
}

.btn-backoffice {
    margin-top: 0;
}

.btn-backoffice-add {
    margin-bottom: 1rem;
}

#backoffice-table {
    width: 50%;
}

.table th {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4ac1c5;
    font-weight: bolder; 
}

.table>:not(caption)>*>* {
    border-bottom-width: 0;
}

.table-link{
    display: flex;
    flex-direction: row;
}

.backoffice{
    margin-bottom: 1rem;
}

#btn-delete-backoffice {
    background-color: #a6d6d8;
    color: #fff;
}

#btn-delete-backoffice:hover {
    background-color: #fff;
    color: #000;
}

.travel-profile,
.traveler-profile,
.destination-profile {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4ac1c5;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}

.traveler-value,
.destination-value {
    color: #000;
    font-weight: normal;
    font-style: italic;
}



/* ********************************************************************************* */

/* ************* */
/* Media Queries */
/* ************* */


@media (min-width:992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        flex-direction: row-reverse;
        max-width: max-content;
        flex-direction: row-reverse;
    }

    .buttonMenu {
        display: none!important;
    }

    .logo {
        order: 1;
    }

    .slider-custom{
        display: flex;
        align-content: space-between;
        position: absolute;
        left: 25%;
        width: 50%;
        height: 38vh;
    }
    
    .carousel-item-custom {
        width: 100%;
        height: 40vh;
        object-fit: cover;
        transition: opacity .3s;
        opacity: 0.85;
    }

    #placeholderContent {
        font-size: 1rem;
    }

    #card-custom {
        width: 50%!important;
        margin-left: 25%;
    }

    #card-container {
        width: 50%!important;
        margin-left: 25%;
    }

    #card-container-two {
        width: 50%!important;
        margin-left: 25%;
    } 
    
}

@media (min-width:650px) {

    .btn-read {
        margin-right: 1rem;
    }

}
