/* ********* */
/* Home Page */
/* ********* */


.navbar-custom,
.footer-custom {
    background-color: rgb(255, 242, 204);
}

#title {
    color: #4ac1c5;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    white-space: normal;
    
}

.titleContent,
.logo,
.buttonMenu {
    width: 6rem;
}

.logo {
    text-align: center;
}

.navvar-brand{
    white-space: normal;
}

#navbarNav,
.nav-link, 
.linkInP {
    color: #F6AB6C;
}

.nav-link:hover,
.linkInP:hover {
    color:#f58235;
    font-weight: bolder;
}

.navbar-nav .nav-link.active {
    color: #f58235;
    font-weight: bolder;
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28246, 171, 108, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-custom .navbar-toggler {
    color: rgba(246, 171, 108,.55);
    border-color: rgba(246, 171, 108);
}

.pageContainer {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 4rem;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-custom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
}

.signatureContainer {
    text-align: center;
    font-size: 0.6rem;
    font-style: italic;
    color: #4ac1c5;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%234ac1c5'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%234ac1c5'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

 #placeholderTitle,
 #placeholderContent {
    color: #DF5E88;
    font-weight: bold;
}

#placeholderContent {
    font-size: 0.8rem;
    font-weight: bolder;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    top: -1rem;
    left: 15%;
    padding-top: 1.25rem;
    text-align: center;
}

.carousel-caption-background{
    background-color: rgba(255, 255, 255, 0.678);
    height: 5rem;
}

.carousel-indicators [data-bs-target] {
    background-color: #4ac1c5;
}

.slider-custom{
    width: 100%;
    height: 32vh;
}

.carousel-item-custom {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    transition: opacity .3s;
}

.card-title {
   color:#f58235;
   font-size: 1.5rem;
   font-weight: bold;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-style: italic;
   margin-bottom: 1rem;
}

.card-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-text strong {
    font-weight: bold;
    color: #4ac1c5;
}

.card-text em {
    font-style: normal;
    color: #DF5E88;
    font-weight: bolder;
}

.linkInP {
    font-weight: bolder;
    font-size: 1.1rem;
    cursor: pointer;
}


/* ********************************************************************************* */

/* ************ */
/* Registration */
/* ************ */

#card-container {
    margin-top: 1rem;
}

#card-body-container{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}


.btn-custom {
    background-color: #DF5E88;
    color: #fff;
    margin-top: 1rem;
}

.form-control, 
.input-group {
    width: 90%;
}


.col-form-label {
    color: #4ac1c5;
    font-weight: bolder;
}

.col-sm-2 {
    width: 40%;
}


/* ********************************************************************************* */

/* ****** */
/* Log in */
/* ****** */

.login-form {
    display: flex;
    flex-direction: column;
    padding-left: 0.2rem;
}

#label-login-form {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4ac1c5;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

#password,
#username {
    width: 40%;
}

#btn-connection{
    width: 40%;
}


/* ********************************************************************************* */

/* ******* */
/* Profile */
/* ******* */

.user-profile {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4ac1c5;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}

.user-nickname,
.user-email,
.user-birthday {
    margin: 0.4rem 0 0.4rem 0;
}

.user-value {
    color: #000;
    font-weight: normal;
}

.instrucion-modify{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    margin: 0.5rem 0 0.5rem 0;;
}

.instrucion-modify strong {
    font-style: normal;
    color: #DF5E88;
    font-weight: bolder;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-container a {
    width: 40%;
}

/* ********************************************************************************* */

/* ************* */
/* Media Queries */
/* ************* */


@media (min-width:992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        flex-direction: row-reverse;
        max-width: max-content;
        flex-direction: row-reverse;
    }

    .buttonMenu {
        display: none!important;
    }

    .logo {
        order: 1;
    }

    .slider-custom{
        display: flex;
        align-content: space-between;
        position: absolute;
        left: 25%;
        width: 50%;
        height: 38vh;
    }
    
    .carousel-item-custom {
        width: 100%;
        height: 40vh;
        object-fit: cover;
        transition: opacity .3s;
        opacity: 0.85;
    }

    #placeholderContent {
        font-size: 1rem;
    }

    #card-custom {
        position: absolute;
        top: 55%;
        left: 25%;
        width: 50%!important;
    }

    #card-container{
        position: absolute;
        left: 25%;
        width: 50%!important;
    }

}

