{% extends 'base.html.twig' %}

{% block body %}

    <section class="registration-form">
        <div class="card w-100 mb-3" id="card-container">
            <div class="card-body" id="card-body-container">
                <h1 class="card-title">Test</h1>
                
                {% for country in data %}
                        <div>{{country.name.common}}</div>
                {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}