{% extends 'base.html.twig' %}

{% set route_name = app.request.attributes.get('_route') %}

{% block subnav %}

    <!-- sous-nav back-office-->
    <nav class=" subnav container my-2">
        <a 
            {% if route_name matches '/^app_back_user/' %}
            class="subnav-link active"
            {% else %}
            class="subnav-link"
            {% endif %}
             href="{{ path('app_back_user_index') }}">Utilisateurs
        </a>
        <a class="subnav-link" href="">Voyages</a>
        <a class="subnav-link" href="">Voyageurs</a>
        <a class="subnav-link" href="">Destinations</a>
        <a class="subnav-link" href="">Articles</a>
        <a class="subnav-link" href="">Commentaires</a>
        <a class="subnav-link" href="">Astuces</a>
    </nav>

{% endblock %}

{% block body %}
    <section class="bodyContainer">
        {% block subbody %}{% endblock %}
    </section>
{% endblock %}